.card {
    font-family: arial;
    font-size: 15px;
    text-align: left;
}

.answer-div {
    vertical-align: top;
    display: flex;
}

.answer-div div:nth-child(1) {
    display: inline-block;
    margin: 5px 5px 5px 5px
}

.answer-div div:nth-child(2) {
    display: inline-block;
    margin: 5px 15px 5px 0px;
    width: 20px;
}

.answer-div div:nth-child(3) {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 100%;
}

.answer-div div:nth-child(4) {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    width: 20px;
}

.answer-div label{
    display: inline-block;
    vertical-align: top;
}

input.disabled-input {
    pointer-events:none;
}

.correct {
    background-color: #009900;
}

.correct-background {
    background-color: #009900;
}

.correct:after {
    content: '✔';
    position: relative;
    float: right;
    left: 0; 
    top: 0px;
    width: 20px; 
    height: 20px;
    text-align: center;
    border: 1px solid #aaa;
    background: #008000;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

.missed {
    background-color: #009900;
}

.missed-background {
    background-color: #009900;
}

.incorrect {
    background-color: #880000;
}

.incorrect-background {
    background-color: #880000;
}

.incorrect:after {
    content: '✘';
    position: relative;
    float: right;
    left: 0; 
    top: 0px;
    width: 20px; 
    height: 20px;
    text-align: center;
    border: 1px solid #aaa;
    background: #800000;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}